body {
  background-color: #d3e1af;
}
.header-container {
  width: 100%;
  text-align: center;
  font-family: 'Inter', sans-serif;
  padding: 20px 0;
  position: relative;
}
em{
  font-size: larger;
}
p{
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  margin: 0;
}
.bild-wrapper {
  position: relative;
  background-color: #d3e1af;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#blatt {
  position: absolute;
  margin-top: 10%;
  width: 100%;
  height: auto;
  display: block;
}
.button{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  overflow: hidden;
  width: 8vw;
  height: 17vh;
  border: 3px solid black;
  background-color: rgb(93, 133, 65);
  border-radius: 10%;
  transition: transform 0.2s ease-in-out;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#button-co2 {
  top: 23vh;
  left: 75vw;
  } 
#button-info {
  top: 35vh;
  left: 13vw;
}
#button-quiz {
  top: 0vh;
  left: 45vw;
}