#quizContainerMultipleChoice #quizCenter{
    display: grid;
    height: 480px;
    grid-template-columns: 1fr 2fr 3fr 1fr;
    justify-items: center; 
    align-items: center;
    margin-bottom: 50px;
}

#quizContainerMultipleChoice #answers{
    font-size: 30px;
}

#quizContainerMultipleChoice .imagePlaceholderContainer{
    background-color: white;
}

#quizContainerMultipleChoice .imagePlaceholder {
    width: 480px; 
    height: auto; 
}

#quizContainerMultipleChoice input[type="radio"][name="answer"] {
    transform: scale(2);
    margin: 40px;
}

#quizContainerMultipleChoice #checkAnswer{
    margin: 20px;
}

#quizContainerMultipleChoice .imagePlaceholderContainer {
    background-color: white;
    border: #378139 2px solid;
}