#World-Map-Div {
    position: relative; /* Container wird Bezugspunkt für Bubbles */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 45px;
}
#World-Map{
    position: absolute;
    width: 90vw;
    height: 90vh;
    object-fit: cover;
    background-color: #d3e1af;
    z-index: -1;
}
#Info-Text-Div{
    text-align: center;
    font-size: 28px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#Offene-Frage{
    font-size: 32px;
}
.Div-Bubble-Class{
    position: relative;
}
.bubbles {
    display: flex; /* Ermöglicht zentrierten Text */
    align-items: center; /* Vertikale Zentrierung */
    justify-content: center; /* Horizontale Zentrierung */
    text-align: center; /* Mehrzeiliger Text mittig */
    width: 120px; /* Einheitliche Breite */
    height: 120px; /* Höhe gleich Breite für perfekten Kreis */
    border: 2px solid black; /* Schwarzer Rahmen */
    border-radius: 50%; /* Vollständig rund */
    background-color: white; /* Hintergrundfarbe */
    word-wrap: break-word; /* Falls nötig, Umbrüche */
    overflow: hidden; /* Kein Überlauf */
}


body{
    background-color: #d3e1af;
}