#World-Map-Div {
    position: relative; /* Container wird Bezugspunkt für Bubbles */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 45px;
}
#World-Map{
    position: absolute;
    width: 90vw;
    height: 90vh;
    object-fit: cover;
    background-color: #d3e1af;
    z-index: -1;
}
#Info-Text-Div{
    text-align: center;
    font-size: 28px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#Offene-Frage{
    font-size: 32px;
}
.Div-Bubble-Class{
    position: relative;
}
.bubbles {
    display: flex; /* Ermöglicht zentrierten Text */
    align-items: center; /* Vertikale Zentrierung */
    justify-content: center; /* Horizontale Zentrierung */
    text-align: center; /* Mehrzeiliger Text mittig */
    width: 120px; /* Einheitliche Breite */
    height: 120px; /* Höhe gleich Breite für perfekten Kreis */
    border: 2px solid black; /* Schwarzer Rahmen */
    border-radius: 50%; /* Vollständig rund */
    background-color: white; /* Hintergrundfarbe */
    word-wrap: break-word; /* Falls nötig, Umbrüche */
    overflow: hidden; /* Kein Überlauf */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    transition: transform 0.3s ease-in-out;
}
.bubbles:hover{
    cursor: pointer;
    transform: scale(1.05);
}

/* Einzelne Bubbles
-------------------------------------------------------------------------------------
*/
#bArkMee{
    height: 20px;
    width: 680px;
    border: 5px groove rgb(134, 82, 187);
    background: rgba(205, 32, 199, 0.25);
}
#bArkMee.bubbles:hover{
    transform: scale(1, 1.1);
}
#bGroEis{
    height: 75px;
    width: 100px;
    border: 5px groove rgb(134, 82, 187);
    background: rgba(205, 32, 199, 0.25)
}
#bYedPer{
    height: 70px;
    width: 126px;
    border: 5px groove rgb(134, 82, 187);
    background: rgba(205, 32, 199, 0.25);
}
#bBorWal{
    height: 70px;
    width: 100px;
    border: 5px groove rgb(39, 202, 34);
    background: rgba(61, 205, 32, 0.25)
}
#bMetHyd{
    height: 60px;
    width: 100px;
    border: 5px groove rgb(134, 82, 187);
    background: rgba(205, 32, 199, 0.25)
}
#bJetStr{
    height: 45px;
    width: 140px;
    border: 5px groove rgb(169, 122, 22);
    background: rgba(192, 125, 37, 0.6);
    border-radius: 20%;
}
#bIndSom{
    height: 110px;
    width: 110px;
    border: 5px groove rgb(215, 52, 52);
    background: rgba(244, 84, 84, 0.35)
}
#bTroKor{
    height: 140px;
    width: 140px;
    border: 5px groove rgb(39, 202, 34);
    background: rgba(61, 205, 32, 0.25)
}
#bSWNor{
    height: 100px;
    width: 85px;
    border: 5px groove rgb(215, 52, 52);
    background: rgba(244, 84, 84, 0.35)
}
#bAtlTheZir{
    width: 60px;
    border: 5px groove rgb(215, 52, 52);
    background: rgba(244, 84, 84, 0.35);
    transform: rotate(25deg);
}
#bAtlTheZir .text{
    transform: rotate(-25deg);
}
#bAtlTheZir.bubbles:hover{
    transform: rotate(25deg) scale(1.05);
}
#bWesMon{
    height: 55px;
    border: 5px groove rgb(215, 52, 52);
    background: rgba(244, 84, 84, 0.35)
}
#bElNinSudOsz{
    border: 5px groove rgb(215, 52, 52);
    background: rgba(244, 84, 84, 0.35)
}
#bAmaReg{
    height: 100px;
    width: 100px;
    border: 5px groove rgb(39, 202, 34);
    background: rgba(61, 205, 32, 0.25)
}
#bWesEis{
    height: 55px;
    width: 170px;
    border: 5px groove rgb(77, 147, 228);
    background: rgba(47, 161, 218, 0.25)
}
#bMarBioKoh{
    height: 65px;
    width: 150px;
    border: 5px groove rgb(39, 202, 34);
    background: rgba(61, 205, 32, 0.25)
}
#bOstEis{
    height: 55px;
    width: 165px;
    border: 5px groove rgb(77, 147, 228);
    background: rgba(47, 161, 218, 0.25)
}


/*
-------------------------------------------------------------------------------------
*/

body{
    background-color: #d3e1af;
}